body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.btn {
    font-weight: 700;
    background-color: honeydew;
    border-radius: 30px;
    border: solid 2px black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 500px;
    height: 500px;
    margin-top: 5%;
    padding: 0;
    box-sizing: border-box;

}

.square {
    box-sizing: border-box;
}

.square:hover {
    background-color: grey;
}

.square:active {
    background-color: red;
}