* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-btn {
    margin: 25px;
    padding: 10px 25px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.h1 {
    font-size: 80px;
}